tspan{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	font-style: bold;
}

.container{
		font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-style: bold;
	text-align: center;
	margin-top: 5%;
}

.title{
	font-family: 'Homemade Apple', cursive;
	font-size: 2.2em;
	font-style: bold;
}

.yellow{
	fill: rgb(255, 200, 14);
}
